<div class="container my-3">
  <div class="row g-3">
    <!-- para cada results nao null do objetoResposta -->
    @for (pokemon of objetoResposta(); track pokemon.id) {
      <div class="col-md-6 col-lg-2">
        <div
          class="card p-3 text-center"
          [style.border]="`2px solid transparent`"
          [style.background]="pokemon.backgroundColor"
        >
          <span class="fs-6 card-title">{{ pokemon.displayName }}</span>

          <div class="d-flex justify-content-center gap-2">
            @for (tipo of pokemon.types; track tipo) {
              <span class="badge rounded-pill text-light" [style.background-color]="tipo.color">{{
                tipo.displayName
              }}</span>
            }
          </div>

          @if (pokemon.imageUrl) {
            <img [src]="pokemon.imageUrl" [alt]="pokemon.imageAlt" />
          } @else {
            <p>Imagem não dísponivel!</p>
          }
        </div>
      </div>
    }
  </div>
</div>
